.About {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding: 0 15%;
  img {
    width: 350px;
  }
  &__TextWrapper {
    margin-right: 150px;
    padding-bottom: 44px;
    p {
      font-size: 18px;
      margin: 15px 0;
    }
  }
  &__ImageContainer {
    height: 350px;
    width: 350px;
    margin: 25px;
  }
}
