@import "../../../../Index.scss";
.Spinners {
  &__Container {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 25px 50px;
    padding: 50px 100px;
  }
  &__GallaryBar {
    width: 100%;
    position: absolute;
    height: 20px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__GallaryIndicator {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: $black;
    margin: 0 6px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s all;
    &--active {
      opacity: 1;
    }
  }
  &__GallaryForward {
    position: absolute;
    right: 0px;
    cursor: pointer;
  }
  &__GallaryBack {
    position: absolute;
    left: 0px;
    cursor: pointer;
  }
}
.fadeForward-enter {
  opacity: 0;
  transform: translateX(-200px);
}
.fadeForward-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.fadeForward-exit {
  position: absolute;
  opacity: 1;
  transform: translateX(0%);
}
.fadeForward-exit-active {
  opacity: 0;
  transform: translateX(200px);
}
.fadeForward-enter-active,
.fadeForward-exit-active {
  transition: all 0.3s;
}

.fadeBackwards-enter {
  opacity: 0;
  transform: translateX(200px);
}
.fadeBackwards-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.fadeBackwards-exit {
  position: absolute;
  opacity: 1;
  transform: translateX(0%);
}
.fadeBackwards-exit-active {
  opacity: 0;
  transform: translateX(-200px);
}
.fadeBackwards-enter-active,
.fadeBackwards-exit-active {
  transition: all 0.3s;
}
