@import "../../Index.scss";
.input {
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;
  input {
    width: 100%;
    border: 0;
    background: $black;
    color: white;
    height: 60px;
    font-size: 14px;
    padding: 0 20px;
    padding-top: 10px;
    box-sizing: border-box;
    outline: none;
    &:focus + .input__label .input__labelContent,
    &:not(:placeholder-shown) + .input__label .input__labelContent {
      transform: translate(-12px, -20px);
      font-size: 14px;
      color: $orange;
    }
    &:focus + .input__label::after {
      transform: translateX(0%);
    }
  }
  &__label {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    font-size: 16px;
    pointer-events: none;
    text-align: left;
    height: 100%;
    color: white;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      border-bottom: 5px solid $orange;
      left: 0px;
      bottom: 0px;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
    }
    &Content {
      position: absolute;
      left: 20px;
      bottom: 20px;
      transition: all 0.3s ease;
    }
  }
  &__label--errorIndicator {
    position: absolute;
    width: 100%;
    border-bottom: 5px solid $cherry;
    left: 0px;
    bottom: 0px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 2;
  }
  &__label--error {
    position: absolute;
    width: 100%;
    right: 5px;
    top: 3px;
    font-size: 14px;
    color: $cherry;
    transition: transform 0.3s ease;
    z-index: 2;
    text-align: right;
  }
}
