/*
Hidden Classes: .hide-on-responsive,
Visible Classes: .show-on-responsive

Tablet Portrait size to standard 960 (devices and browsers)
*/

@media only screen and (min-width: 1px) and (max-width: 979px) {
  //Mobiile theme styling
  @import "mobile-header";

  @import "mobile-footer";

  @import "mobile-theme";
}
