@import "../../colors.scss";
.Home {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  &__LogoContainer {
    text-align: center;
    padding: 125px;
    svg {
      width: 125px;
    }
    h1 {
      margin: 15px 0 5px 0;
      font-weight: normal;
    }
    h2 {
      margin: 0;
      font-size: 18px;
      font-weight: normal;
      opacity: 0.7;
    }
    a {
      text-decoration: none;
    }
  }
  &__CTA {
    border: none;
    display: grid;
    place-content: center;
    outline: none;
    width: 120px;
    height: 40px;
    background-color: $orange;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin: 30px auto;
    font-size: 14px;
    transition: all 0.3s ease-out;
  }
}
