/*------------ Sub Header ------------*/
.sub-header-container {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
}

.sub-header-cta-left-holder {
  display: inline-block;
  position: relative;
  width: 260px;
  padding: 3px 0;
  margin: 0 20px;
  a {
    display: inline-block;
    padding: 0 10px 0 0;
    margin: 0;
    font-size: 10px;
    letter-spacing: 1px;
    color: $dark-grey;
    opacity: 1;
    @include transition(opacity 0.3s ease-in-out);
    &:hover {
      opacity: 0.4;
    }
  }
}

.sub-header-cta-middle-holder {
  display: block;
  position: relative;
  width: 470px;
  height: 30px;
  padding: 0;
  margin: auto;
}

.cta-middle-text-holder {
  display: block;
  position: relative;
  padding: 10px 20px 8px;
  margin: auto;
  @include font-raleway-normal-reg(9px, normal, 0.4px);
  color: $white;
  text-align: center;
  text-transform: uppercase;
  a {
    color: $white;
    opacity: 1;
    @include transition(opacity 0.3s ease-in-out);
    &:hover {
      opacity: 0.4;
    }
  }
}

.sub-header-cta-middle-holder .slick-next {
  display: block;
  position: absolute;
  width: 7px;
  height: 13px;
  top: 9px;
  right: -31px;
  //background-image: url(assets/img/arrow-right-navy.png);
  background-size: 7px 13px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  font-size: 0;
  cursor: pointer;
  opacity: 1;
  z-index: 1;
  @include transition(opacity 0.3s ease-in-out);
  &:hover {
    opacity: 0.4;
  }
}

.search-field-close-holder {
  display: block;
  position: absolute;
  width: 19px;
  height: 19px;
  top: 50%;
  right: 60px;
  @include transform(translateY(-50%));
  //background-image: url("assets/img/x-icon-white.png");
  background-position: center;
  background-size: 19px;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 1;
  @include transition(opacity 0.3s ease-in-out);
  &:hover {
    opacity: 0.4;
  }
}

/*------------ Main Header ------------*/
.main-header {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  border-bottom: 1px solid $off-white;
  z-index: 9999;
  box-shadow: 2px 0px 5px rgba($black, 0.25);
}

.main-header-container {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
}

.logo-container {
  display: block;
  position: relative;
  width: 40px;
  padding: 0;
  margin: 0 20px;
}

.logo-holder {
  display: block;
  position: relative;
  width: 40px;
  padding: 14px 0 13px;
  margin: 0;
  margin-right: auto;
  z-index: 9;
  img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
}

.main-menu-container {
  display: block;
  width: 100%;
  padding: 0;
  margin: auto;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    text-align: center;
    line-height: 0;
    li {
      display: block;
      padding: 0;
      margin: 0;
      a {
        display: inline-block;
        margin: 0;
        @include font-raleway-normal-reg(14px, normal, 0.8px);
        color: $dark-grey;
      }
    }
  }
}

.main-header-cta-right-holder {
  display: block;
  position: relative;
  height: 100%;
  margin: auto 0 auto auto;
  z-index: 9;
  a {
    display: block;
    padding: 10px 14px;
    margin: 0;
    @include font-raleway-normal-reg(14px, normal, 0.8px);
    background-color: $red;
    color: white;
    opacity: 1;
    border-radius: 8px;
    @include transition(opacity 0.3s ease-in-out);
    &:hover {
      opacity: 0.4;
    }
    span {
      display: inline-block;
      margin-top: -2px;
      margin-right: 5px;
    }
  }
  img {
    vertical-align: middle;
  }
}

.main-header-cta-middle-holder {
  display: block;
  position: relative;
  height: 100%;
  margin: auto 0 auto auto;
  z-index: 9;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    text-align: right;
    li {
      display: inline-block;
      padding: 0;
      margin: 0 15px;
      a {
        display: block;
        padding: 0;
        margin: 0;
        @include font-raleway-normal-reg(14px, normal, 0.8px);
        color: $mid-grey;
        opacity: 1;
        position: relative;
        @include transition(opacity 0.3s ease-in-out);
        .active-marker {
          width: 6px;
          height: 6px;
          bottom: -10px;
          border-radius: 6px;
          position: absolute;
          background: transparent;
          left: calc(50% - 3px);
          background: transparent;
          @include transition(opacity 0.3s ease-out);
        }
        &:hover {
          opacity: 0.4;
        }
        &.is-active {
          color: $red;
          .active-marker {
            background: $red;
          }
        }
        span {
          display: inline-block;
          margin-top: -2px;
          margin-right: 5px;
        }
      }
    }
  }
  img {
    vertical-align: middle;
  }
}

.menu-image-container {
  display: block;
  position: absolute;
  height: 100%;
  min-height: 220px;
  top: 0;
  right: 0;
  overflow: visible;
}

.menu-image-holder {
  visibility: hidden;
  opacity: 0;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 380px;
  min-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include transition(all 0.3s ease-in-out);
}
