/* ==================  Sub Header  ================== */
.sub-header-container {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
}

.sub-header-cta-left-holder {
  display: inline-block;
  position: relative;
  width: 260px;
  padding: 3px 0;
  margin: 0 20px;
  a {
    display: inline-block;
    padding: 0 10px 0 0;
    margin: 0;
    font-size: 10px;
    letter-spacing: 1px;
    color: $dark-grey;
    opacity: 1;
    @include transition(opacity 0.3s ease-in-out);
    &:hover {
      opacity: 0.4;
    }
  }
}

.sub-header-cta-middle-holder {
  display: block;
  position: relative;
  width: 470px;
  height: 30px;
  padding: 0;
  margin: auto;
}

.cta-middle-text-holder {
  display: block;
  position: relative;
  padding: 10px 20px 8px;
  margin: auto;
  @include font-titling-raleway-extended-bold(9px, normal, 0.4px);
  color: $white;
  text-align: center;
  text-transform: uppercase;
  a {
    color: $white;
    opacity: 1;
    @include transition(opacity 0.3s ease-in-out);
    &:hover {
      opacity: 0.4;
    }
  }
}

.sub-header-cta-middle-holder .slick-next {
  display: block;
  position: absolute;
  width: 7px;
  height: 13px;
  top: 9px;
  right: -31px;
  //background-image: url(assets/img/arrow-right-navy.png);
  background-size: 7px 13px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  font-size: 0;
  cursor: pointer;
  opacity: 1;
  z-index: 1;
  @include transition(opacity 0.3s ease-in-out);
  &:hover {
    opacity: 0.4;
  }
}

.search-field-close-holder {
  display: block;
  position: absolute;
  width: 19px;
  height: 19px;
  top: 50%;
  right: 60px;
  @include transform(translateY(-50%));
  //background-image: url("assets/img/x-icon-white.png");
  background-position: center;
  background-size: 19px;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 1;
  @include transition(opacity 0.3s ease-in-out);
  &:hover {
    opacity: 0.4;
  }
}

/* ==================  Main Header  ================== */
.main-header {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  border-bottom: 1px solid $off-white;
  z-index: 9999;
}

.main-header.is-sticky {
  position: fixed;
  top: -30px;
}

.main-header-container {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
}

.logo-container {
  display: block;
  position: relative;
  width: 40px;
  padding: 0;
  margin: 0 20px;
}

.logo-holder {
  display: block;
  position: relative;
  width: 40px;
  padding: 14px 0 13px;
  margin: 0;
  margin-right: auto;
  z-index: 9;
  img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
}

.main-menu-container {
  display: block;
  width: 100%;
  padding: 0;
  margin: auto;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    text-align: center;
    line-height: 0;
    li {
      display: block;
      padding: 0;
      margin: 0;
      a {
        display: inline-block;
        margin: 0;
        @include font-titling-raleway-condensed-standard(14px, normal, 0.8px);
        color: $dark-grey;
      }
    }
  }
}

.main-header-cta-right-holder {
  display: block;
  position: relative;
  height: 100%;
  margin: auto 0 auto auto;
  z-index: 9;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    text-align: right;
    li {
      display: inline-block;
      padding: 0;
      margin: 0 15px;
      a {
        display: block;
        padding: 10px 14px;
        margin: 0;
        @include font-titling-raleway-normal-reg(14px, normal, 0.8px);
        background-color: $red;
        color: white;
        opacity: 1;
        border-radius: 8px;
        @include transition(opacity 0.3s ease-in-out);
        &:hover {
          opacity: 0.4;
        }
        span {
          display: inline-block;
          margin-top: -2px;
          margin-right: 5px;
        }
      }
    }
  }
  img {
    vertical-align: middle;
  }
}

.main-header-cta-middle-holder {
  display: block;
  position: relative;
  height: 100%;
  margin: auto 0 auto auto;
  z-index: 9;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    text-align: right;
    li {
      display: inline-block;
      padding: 0;
      margin: 0 15px;
      a {
        display: block;
        padding: 0;
        margin: 0;
        @include font-titling-raleway-normal-reg(14px, normal, 0.8px);
        color: $mid-grey;
        opacity: 1;
        position: relative;
        @include transition(opacity 0.3s ease-in-out);
        .active-marker {
          width: 6px;
          height: 6px;
          bottom: -10px;
          border-radius: 6px;
          position: absolute;
          background: transparent;
          left: calc(50% - 3px);
          background: transparent;
          @include transition(opacity 0.3s ease-out);
        }
        &:hover {
          opacity: 0.4;
        }
        &.is-active {
          color: $red;
          .active-marker {
            background: $red;
          }
        }
        span {
          display: inline-block;
          margin-top: -2px;
          margin-right: 5px;
        }
      }
    }
  }
  img {
    vertical-align: middle;
  }
}

.main-header-cta-right-holder ul li:nth-last-child(even) {
  margin: 0;
  margin-left: 15px;
  margin-right: 20px;
}

.main-header-cta-middle-holder ul li:nth-last-child(even) {
  margin: 0;
  margin-left: 15px;
  margin-right: 20px;
}

/* ==================  Main Menu Dropdown Containers ================== */
.main-menu-container ul li.tier-0 .sub-menu-wrap {
  visibility: hidden;
  opacity: 0;
  display: block;
  position: absolute;
  width: 100%;
  min-height: 220px;
  margin-top: 3px;
  left: 0;
  background-color: rgba($off-white, 0.99);
  @include transition(all 0.3s ease-in-out);
}

.main-menu-container ul li:hover .sub-menu-wrap {
  visibility: visible;
  opacity: 1;
}

/* ==================  Main Menu Dropdown Tier 0 ================== */

.main-menu-container ul li.tier-0 {
  @include transition(border 0.3s ease-in-out);
  border-bottom: 3px solid transparent;
}

.main-menu-container ul li.tier-0 a {
  color: rgba($dark-grey, 1);
  @include transition(color 0.3s ease-in-out);
}

.main-menu-container ul li.tier-0:hover a {
  color: rgba($dark-grey, 0.4);
}

.main-menu-container ul li.tier-0.active {
  border-bottom: 3px solid $dark-grey;
}

.main-menu-container ul li.tier-0.active a {
  color: rgba($blue, 1);
}

.main-menu-container ul li.tier-0:hover {
  color: rgba($blue, 1);
  border-bottom: 3px solid $dark-grey;
}

/* Highlight the shop menu item */
.main-menu-container ul li a.shop-menu-item {
  color: rgba($blue, 1);
}

.main-menu-container ul li a.parent-active {
  color: rgba($dark-grey, 0.4);
}

.main-menu-container ul li a.active {
  color: rgba($dark-grey, 0.4);
}

/* ==================  Main Menu Dropdown Tier 1 ================== */
.main-menu-container ul li .sub-menu-wrap ul.sub-menu {
  display: block;
  position: relative;
  padding: 35px 0 25px;
  margin: 0;
}

.main-menu-container ul li .sub-menu-wrap ul.sub-menu li.tier-1 {
  display: block;
  width: 350px;
  margin: auto;
  text-align: left;
  padding-left: 65px;
}

.main-menu-container ul li .sub-menu-wrap ul.sub-menu li.tier-1 a {
  display: inline-block;
  padding: 0 0 15px;
  margin: 0;
  @include font-titling-raleway-wide-med(12px, 12px, 1px);
  color: $dark-grey;
}

.main-menu-container ul li .sub-menu-wrap ul.sub-menu li.tier-1 a {
  color: rgba($dark-grey, 1);
  border: 0;
  @include transition(color 0.3s ease-in-out);
  &:hover {
    color: rgba($dark-grey, 0.4);
  }
}

.menu-image-container {
  display: block;
  position: absolute;
  height: 100%;
  min-height: 220px;
  top: 0;
  right: 0;
  overflow: visible;
}

.menu-image-holder {
  visibility: hidden;
  opacity: 0;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 380px;
  min-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include transition(all 0.3s ease-in-out);
}

.main-menu-container ul li.tier-1:hover .menu-image-holder {
  visibility: visible;
  opacity: 1;
}

/* ==================  Pop up sign up form ================== */
.pop-up-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10000;
  width: 730px;
  height: 660px;
  background-color: $off-white;
  color: $blue;
  @include transform(translate(-50%, -50%));
  padding: 50px 105px;
  h3 {
    text-align: center;
    @include font-titling-raleway-extended-bold(30px, 35px, -0.3px);
    text-transform: uppercase;
    padding: 0 10px 35px;
  }
  p {
    text-align: center;
  }
}

.pop-up-background {
  display: block;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: $black;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  @include transition(all 0.6s ease);
}

.pop-up-background.on-crew {
  opacity: 0.9;
  pointer-events: all;
  visibility: visible;
}

.pop-up-close-icon {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}

.pop-up-container.show-pop-up {
  display: block;
}

.pop-up-form-holder {
  width: 520px;
  margin: 0 auto;
  padding: 35px 0 0;
}

.half-input-holder-popup {
  width: 240px;
  display: block;
  float: left;
  padding: 0;
  margin-bottom: 30px;
  input {
    @include font-titling-raleway-normal-reg(10px, 24px, 0.5px);
    width: 100%;
    height: 40px;
    background-color: $off-white;
    border: 2px solid $blue;
    padding: 0 15px;
    color: $dark-grey;
  }
}

.half-input-holder-popup:nth-of-type(odd) {
  margin-right: 20px;
}

.half-input-holder-popup:nth-of-type(even) {
  margin-left: 20px;
}

.full-input-holder-popup {
  width: 520px;
  margin-bottom: 30px;
  float: left;
  input {
    @include font-titling-raleway-normal-reg(10px, 24px, 0.5px);
    width: 100%;
    height: 40px;
    background-color: $off-white;
    border: 2px solid $blue;
    padding: 0 15px;
    color: $dark-grey;
  }
  textarea {
    @include font-titling-raleway-normal-reg(10px, 24px, 0.5px);
    color: $dark-grey;
    width: 100%;
    height: 400px;
    padding: 20px 15px;
    border: 2px solid $blue;
  }
  select {
    cursor: pointer;
    @include font-titling-raleway-normal-reg(10px, 24px, 0.5px);
    width: 100%;
    height: 40px;
    background-color: $off-white;
    border: 2px solid $blue;
    padding: 0 20px;
    color: $dark-grey;
    //background-image: url("assets/img/arrow-down-dark-grey.png");
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center right 10px;
  }
  label {
    @include font-titling-raleway-normal-reg(10px, 14px, 0.5px);
    color: $dark-grey;
    a {
      @include transition(opacity 0.2s ease-in-out);
      color: $blue;
      opacity: 1;
      border-bottom: 1px solid $blue;
      &:hover {
        opacity: 0.4;
      }
    }
  }
}

.pop-up-form-holder .checkbox-holder input[type="checkbox"] {
  display: inline-block;
  float: left;
}

.pop-up-form-holder .checkbox-holder span {
  display: inline-block;
  float: left;
  width: 80%;
}

.submit-holder-popup {
  @include transition(opacity 0.2s ease-in-out);
  width: 150px;
  margin-bottom: 30px;
  float: left;
  opacity: 1;
  input {
    width: 100%;
    @include font-titling-raleway-extended-med(10px, 14px, 1px);
    color: $white;
    text-transform: uppercase;
    border: 2px solid $blue;
    text-transform: uppercase;
    background-color: $blue;
    padding: 11px 23px;
    cursor: pointer;
  }
  &:hover {
    opacity: 0.4;
  }
}
