/*------------ Containers ------------*/
.wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
}

.content {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.content-block {
  display: block;
  position: relative;
  width: 1200px;
  padding: 0;
  margin: auto;
}

.full-screen-height {
  height: 100vh;
}

/*------------ Block Containers ------------*/
.one-block-container {
  display: block;
  position: relative;
  width: 1200px;
  padding: 0;
  margin: 0;
}

.half-block-container {
  display: block;
  position: relative;
  width: 560px;
  float: left;
  padding: 0;
  margin: 0 20px;
}

.third-block-container {
  display: block;
  position: relative;
  width: 360px;
  float: left;
  padding: 0;
  margin: 0 20px;
}

.fourth-block-container {
  display: block;
  position: relative;
  width: 280px;
  float: left;
  padding: 0;
  margin: 0 20px;
}

/*------------ % Containers ------------*/
.full-width-container {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.full-half-container {
  display: block;
  position: relative;
  width: 50%;
  float: left;
  padding: 0;
  margin: 0;
}

.full-third-container {
  display: block;
  position: relative;
  width: 33.33%;
  float: left;
  padding: 0;
  margin: 0;
}

.full-fourth-container {
  display: block;
  position: relative;
  width: 25%;
  float: left;
  padding: 0;
  margin: 0;
}

/*------------ Flex Containers ------------*/
.one-flex-container {
  @include flexbox();
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  width: 1200px;
  padding: 0;
  margin: 0;
}

.flex-content-block {
  @include flexbox();
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  width: 1200px;
  margin: auto;
}

.one-flex-margin-container {
  @include flexbox();
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  width: 1200px;
  padding: 0;
  margin: auto;
}

.half-flex-container {
  display: block;
  position: relative;
  width: 560px;
  padding: 0;
  margin: 0 20px;
}

.third-flex-container {
  display: block;
  position: relative;
  width: 360px;
  padding: 0;
  margin: 0 20px;
}

.full-width-flex-container {
  @include flexbox();
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.full-half-flex-container {
  display: block;
  position: relative;
  width: 50%;
  padding: 0;
  margin: 0;
}

.full-half-flex-container-vertically-centered {
  display: block;
  position: relative;
  width: 50%;
  padding: 0;
  margin: auto 0;
}
.half-block-text-holder {
  display: block;
  position: relative;
  padding: 0 100px 0 0;
  margin: 0;
  color: #fff;
}
.half-block-image-holder {
  display: block;
  position: relative;
  width: 70%;
  padding: 0;
  margin: 0 0 0 auto;
  img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
}
