/*------------ Site Fonts ------------*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap");

@mixin font-raleway-normal-reg($size: false, $lh: false, $ls: false) {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  @if $size {
    font-size: $size;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $ls {
    letter-spacing: $ls;
  }
}

/*------------ Site Animations ------------*/
@mixin transform($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  transform: $val;
}

@mixin transition($val) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -o-transition: $val;
  -ms-transition: $val;
  transition: $val;
}

/*------------ Site Flex Settings ------------*/
@mixin flexbox() {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
}
