/*------------ Theme CSS ------------*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap");
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/*------------ Site Fonts ------------*/
/*------------ Site Animations ------------*/
/*------------ Site Flex Settings ------------*/
/*------------ Containers ------------*/
.wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
}

.content {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.content-block {
  display: block;
  position: relative;
  width: 1200px;
  padding: 0;
  margin: auto;
}

.full-screen-height {
  height: 100vh;
}

/*------------ Block Containers ------------*/
.one-block-container {
  display: block;
  position: relative;
  width: 1200px;
  padding: 0;
  margin: 0;
}

.half-block-container {
  display: block;
  position: relative;
  width: 560px;
  float: left;
  padding: 0;
  margin: 0 20px;
}

.third-block-container {
  display: block;
  position: relative;
  width: 360px;
  float: left;
  padding: 0;
  margin: 0 20px;
}

.fourth-block-container {
  display: block;
  position: relative;
  width: 280px;
  float: left;
  padding: 0;
  margin: 0 20px;
}

/*------------ % Containers ------------*/
.full-width-container {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.full-half-container {
  display: block;
  position: relative;
  width: 50%;
  float: left;
  padding: 0;
  margin: 0;
}

.full-third-container {
  display: block;
  position: relative;
  width: 33.33%;
  float: left;
  padding: 0;
  margin: 0;
}

.full-fourth-container {
  display: block;
  position: relative;
  width: 25%;
  float: left;
  padding: 0;
  margin: 0;
}

/*------------ Flex Containers ------------*/
.one-flex-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 1200px;
  padding: 0;
  margin: 0;
}

.flex-content-block {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 1200px;
  margin: auto;
}

.one-flex-margin-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 1200px;
  padding: 0;
  margin: auto;
}

.half-flex-container {
  display: block;
  position: relative;
  width: 560px;
  padding: 0;
  margin: 0 20px;
}

.third-flex-container {
  display: block;
  position: relative;
  width: 360px;
  padding: 0;
  margin: 0 20px;
}

.full-width-flex-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.full-half-flex-container {
  display: block;
  position: relative;
  width: 50%;
  padding: 0;
  margin: 0;
}

.full-half-flex-container-vertically-centered {
  display: block;
  position: relative;
  width: 50%;
  padding: 0;
  margin: auto 0;
}

.half-block-text-holder {
  display: block;
  position: relative;
  padding: 0 100px 0 0;
  margin: 0;
  color: #fff;
}

.half-block-image-holder {
  display: block;
  position: relative;
  width: 70%;
  padding: 0;
  margin: 0 0 0 auto;
}

.half-block-image-holder img {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

/*------------ Sub Header ------------*/
.sub-header-container {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
}

.sub-header-cta-left-holder {
  display: inline-block;
  position: relative;
  width: 260px;
  padding: 3px 0;
  margin: 0 20px;
}

.sub-header-cta-left-holder a {
  display: inline-block;
  padding: 0 10px 0 0;
  margin: 0;
  font-size: 10px;
  letter-spacing: 1px;
  color: #757575;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.sub-header-cta-left-holder a:hover {
  opacity: 0.4;
}

.sub-header-cta-middle-holder {
  display: block;
  position: relative;
  width: 470px;
  height: 30px;
  padding: 0;
  margin: auto;
}

.cta-middle-text-holder {
  display: block;
  position: relative;
  padding: 10px 20px 8px;
  margin: auto;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.cta-middle-text-holder a {
  color: #ffffff;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.cta-middle-text-holder a:hover {
  opacity: 0.4;
}

.sub-header-cta-middle-holder .slick-next {
  display: block;
  position: absolute;
  width: 7px;
  height: 13px;
  top: 9px;
  right: -31px;
  background-size: 7px 13px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  font-size: 0;
  cursor: pointer;
  opacity: 1;
  z-index: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.sub-header-cta-middle-holder .slick-next:hover {
  opacity: 0.4;
}

.search-field-close-holder {
  display: block;
  position: absolute;
  width: 19px;
  height: 19px;
  top: 50%;
  right: 60px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-position: center;
  background-size: 19px;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.search-field-close-holder:hover {
  opacity: 0.4;
}

/*------------ Main Header ------------*/
.main-header {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  -webkit-box-shadow: 2px 0px 5px rgba(39, 39, 38, 0.25);
          box-shadow: 2px 0px 5px rgba(39, 39, 38, 0.25);
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.main-header-hidden {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.main-header-hidden:hover {
  translate: translateY(0);
}

.main-header-top {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

.main-header-container {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
}

.logo-container {
  display: block;
  position: relative;
  width: 40px;
  padding: 0;
  margin: 0 20px;
}

.logo-holder {
  display: block;
  position: relative;
  width: 40px;
  padding: 14px 0 13px;
  margin: 0;
  margin-right: auto;
  z-index: 9;
}

.logo-holder img {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.main-menu-container {
  display: block;
  width: 100%;
  padding: 0;
  margin: auto;
}

.main-menu-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  text-align: center;
  line-height: 0;
}

.main-menu-container ul li {
  display: block;
  padding: 0;
  margin: 0;
}

.main-menu-container ul li a {
  display: inline-block;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #757575;
}

.main-header-cta-right-holder {
  display: block;
  position: relative;
  height: 100%;
  margin: auto 0 auto auto;
  z-index: 9;
}

.main-header-cta-right-holder a {
  display: block;
  padding: 10px 14px;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.8px;
  background-color: #c70039;
  color: white;
  opacity: 1;
  border-radius: 8px;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.main-header-cta-right-holder a:hover {
  opacity: 0.4;
}

.main-header-cta-right-holder a span {
  display: inline-block;
  margin-top: -2px;
  margin-right: 5px;
}

.main-header-cta-right-holder img {
  vertical-align: middle;
}

.main-header-cta-middle-holder {
  display: block;
  position: relative;
  height: 100%;
  margin: auto;
  z-index: 9;
}

.main-header-cta-middle-holder ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  text-align: right;
}

.main-header-cta-middle-holder ul li {
  display: inline-block;
  padding: 0;
  margin: 0 15px;
}

.main-header-cta-middle-holder ul li a {
  display: block;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #808080;
  opacity: 1;
  position: relative;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.main-header-cta-middle-holder ul li a .active-marker {
  width: 6px;
  height: 6px;
  bottom: -10px;
  border-radius: 6px;
  position: absolute;
  background: transparent;
  left: calc(50% - 3px);
  background: transparent;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.main-header-cta-middle-holder ul li a:hover {
  opacity: 0.4;
}

.main-header-cta-middle-holder ul li a.is-active {
  color: #c70039;
}

.main-header-cta-middle-holder ul li a.is-active .active-marker {
  background: #c70039;
}

.main-header-cta-middle-holder ul li a span {
  display: inline-block;
  margin-top: -2px;
  margin-right: 5px;
}

.main-header-cta-middle-holder img {
  vertical-align: middle;
}

.menu-image-container {
  display: block;
  position: absolute;
  height: 100%;
  min-height: 220px;
  top: 0;
  right: 0;
  overflow: visible;
}

.menu-image-holder {
  visibility: hidden;
  opacity: 0;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 380px;
  min-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*------------ Page CSS ------------*/
.home-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.home-content .logo-holder {
  width: 60%;
  margin: 0;
  margin-left: auto;
}

.home-intro-container {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #111d5e;
  opacity: 0.7;
  position: relative;
}

.home-heading-container {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #111d5e;
  opacity: 1;
  position: relative;
}

.home-sub-heading-container {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #111d5e;
  opacity: 0.7;
  position: relative;
}

.about-content {
  padding-right: 5%;
}

.about-content p {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.8px;
  opacity: 0.7;
}

.about-content h2 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: normal;
  letter-spacing: 0.8px;
}

.about-image-holder {
  padding: 5% 5% 0 0;
  z-index: 10;
}

.about-image-backdrop {
  position: absolute;
  width: 390px;
  height: 390px;
  background-color: white;
  opacity: 0.5;
  top: 0;
  right: 0;
  z-index: 1;
}

/*------------ Misc CSS ------------*/
/*------------ Default settings ------------*/
textarea,
input,
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  resize: vertical;
}

div {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0 0 15px;
}

p:nth-last-child(1) {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  vertical-align: top;
}

a {
  color: #272726;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  vertical-align: top;
}

body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*------------ Backgrounds ------------*/
.white-background {
  background-color: #ffffff;
}

.off-white-background {
  background-color: #f5f5f5;
}

.black-background {
  background-color: #272726;
}

.navy-background {
  background-color: #21292e;
}

.gold-background {
  background-color: #797157;
}

.dark-grey-background {
  background-color: #757575;
}

.mid-grey-background {
  background-color: #808080;
}

.light-grey-background {
  background-color: #eaeaea;
}

.blue-background {
  background-color: #111d5e;
}

.red-background {
  background-color: #c70039;
}

/*------------ Spacers ------------*/
.twenty-spacer {
  padding-top: 20px;
}

.thirty-spacer {
  padding-top: 30px;
}

.forty-spacer {
  padding-top: 40px;
}

.fifty-spacer {
  padding-top: 50px;
}

.sixty-spacer {
  padding-top: 60px;
}

.eighty-spacer {
  padding-top: 80px;
}

.seventy-five-spacer {
  padding-top: 75px;
}

.one-hundred-spacer {
  padding-top: 100px;
}

.fifty-padding-both {
  padding: 0 50px;
}

/*------------ misc settings ------------*/
.hide-on-responsive {
  display: block !important;
}

.show-on-responsive {
  display: none !important;
}

.overflow-fix {
  overflow: hidden;
}

.flex-bottom-content {
  margin-top: auto;
}

.z-index-fix {
  z-index: 999;
}

.no-margin-bottom {
  margin: 0 !important;
}

.add-padding {
  padding: 0 20px;
}

.fadeIn,
.staggerFadeIn,
.staggerFadeInInsta {
  opacity: 0;
}

.primary-button {
  display: inline-block;
  border-radius: 3px;
  padding: 14px 20px;
  border-radius: 10px;
  background-color: #c70039;
  color: white;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.8px;
}

.primary-button:hover {
  opacity: 0.7;
}

/*------------ Reponsive CSS ------------*/
/*------------ Small Desktop / Tablet Styling ------------*/
@media only screen and (min-width: 980px) and (max-width: 1400px) {
  .logo-container {
    width: 35px;
  }
  .logo-holder {
    width: 30px;
    padding: 17px 0;
  }
  .header-search-container {
    width: 180px;
  }
  .main-menu-container {
    margin: auto 0 0;
  }
  .main-menu-container ul li a {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: normal;
    letter-spacing: 0.8px;
  }
  .main-header-cta-right-holder {
    margin: auto 0 auto auto;
  }
  .logo-container {
    margin: 0 15px;
  }
  .menu-image-holder {
    min-width: 290px;
    min-height: 153px;
  }
  .main-menu-container ul li .sub-menu-wrap ul.sub-menu li.tier-1 {
    width: 305px;
  }
  .footer-sign-up-title-holder {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.9px;
  }
  .footer-sign-up-legal-holder p,
  .footer-sign-up-legal-holder label {
    width: 410px;
  }
  .footer-bottom-flex-container {
    width: 960px;
  }
  .footer-left-holder {
    width: 740px;
  }
  .footer-line-divider {
    width: calc(960px - 40px);
  }
  .fifty-spacer {
    padding-top: 30px;
  }
  .sixty-spacer,
  .eighty-spacer {
    padding-top: 40px;
  }
  .one-hundred-spacer {
    padding-top: 60px;
  }
  .fifty-padding-both {
    padding: 0 20px;
  }
  .content-block {
    width: 960px;
  }
  .one-flex-margin-container {
    width: 960px;
  }
  .flex-content-block {
    width: 960px;
  }
  .one-block-container {
    width: 960px;
  }
  .half-block-container {
    width: 450px;
    margin: 0 15px;
  }
  .half-flex-container {
    width: 450px;
    margin: 0 15px;
  }
  .third-flex-container {
    width: 275px;
    margin: 0 15px;
  }
  .third-block-container {
    width: 300px;
  }
  .fourth-block-container {
    width: 220px;
  }
  .half-block-image-holder {
    width: 85%;
  }
  .about-image-backdrop {
    width: 360px;
    height: 360px;
  }
  .about-content p {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.6px;
  }
  .about-content h2 {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: normal;
    letter-spacing: 0.6px;
  }
  .centered-content-title-holder {
    margin: 0 0 50px;
  }
  .centered-content-title-holder h2 {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.8px;
  }
  body {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.1px;
  }
}

/*------------ Mobile Styling ------------*/
@media only screen and (min-width: 1px) and (max-width: 979px) {
  .mobile-header {
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #ffffff;
    z-index: 9999;
  }
  .mobile-header.is-sticky {
    position: fixed;
    top: -30px;
  }
  .sub-header-cta-left-holder {
    margin: 0;
    width: 60%;
  }
  .sub-header-cta-right-holder,
  .logo-container {
    margin: 0;
    width: 50%;
  }
  .sub-header-cta-right-holder ul li:nth-child(1) {
    margin: 0;
    margin-right: 10px;
  }
  .sub-header-cta-right-holder ul li:nth-last-child(1) {
    margin: 0;
    margin-left: 10px;
  }
  .logo-holder {
    width: 30px;
  }
  .mobile-header-foot-container {
    visibility: visible;
    opacity: 1;
    display: block;
    position: absolute;
    width: 100%;
    top: 83px;
    z-index: 9998;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .mobile-header-foot-container.is-sticky {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .mobile-header-foot-cta-holder {
    display: block;
    position: relative;
    width: 80%;
    padding: 9px 0;
    margin: auto;
    background-color: #797157;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
  }
  .main-header-cta-right-holder {
    width: 40%;
    padding: 0;
    margin: 0;
  }
  .main-header-cta-right-holder ul li {
    margin: 0;
  }
  .main-header-cta-right-holder ul li a {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 1px;
    padding-top: 9px;
  }
  .mobile-menu-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 80px;
    z-index: 9999;
    background-color: #ffffff;
    overflow-x: scroll;
    border-top: 1px solid #f5f5f5;
  }
  .mobile-menu-container.is-sticky {
    top: 53px;
  }
  .mobile-main-menu-holder {
    display: block;
    position: relative;
    width: 90%;
    margin: 40px auto 60px;
  }
  .mobile-main-menu-holder ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .mobile-main-menu-holder ul li {
    display: block;
    padding: 0;
    margin: 0;
  }
  .mobile-main-menu-holder ul li a {
    display: inline-block;
    padding: 0;
    margin: 0;
    color: #757575;
  }
  .mobile-main-menu-holder ul li.mob-tier-0 {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin: 0 0 25px;
  }
  .menu-title-tier-0 {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  .mobile-main-menu-holder ul li.mob-tier-1 {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-left: 20px;
    margin: 0 20px 20px;
  }
  .mobile-main-menu-holder ul li.mob-tier-1:nth-child(1) {
    margin: 0 20px 20px;
    margin-top: 20px;
  }
  .mobile-main-menu-holder ul li.mob-tier-1:nth-last-child(1) {
    margin: 0 20px;
    margin-top: 10px;
  }
  .mobile-main-menu-holder ul li.mob-tier-0.has-children .sub-menu {
    display: none;
  }
  .mobile-menu-toggle-icon {
    display: block;
    position: absolute;
    width: 17px;
    height: 9px;
    right: 0;
    margin-top: -16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 17px 9px;
  }
  .mobile-menu-footer-container {
    display: block;
    position: relative;
    padding: 0 0 120px;
    margin: 0;
  }
  .mobile-search-holder {
    display: block;
    position: relative;
    width: 90%;
    padding: 30px 0;
    margin: auto;
  }
  .mobile-search-holder input {
    display: block;
    width: 100%;
    padding: 8px 10px 7px;
    padding-left: 30px;
    margin: 0;
    border: 1px solid #eaeaea;
    color: #eaeaea;
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: left 10px center;
    background-color: transparent;
  }
  .sub-header-county-select-holder {
    width: 90%;
    margin: auto;
    color: #eaeaea;
  }
  /*------------ Pop up sign up form------------*/
  .pop-up-container {
    position: absolute;
    top: 60%;
    width: 90%;
    height: auto;
    padding: 20px;
    margin: auto;
  }
  .pop-up-container h3 {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.6px;
    padding: 60px 40px 25px;
  }
  .pop-up-close-icon {
    top: 20px;
    right: 20px;
    width: 15px;
  }
  .pop-up-close-icon img {
    width: 100%;
    height: auto;
  }
  .half-input-holder-popup:nth-of-type(even),
  .half-input-holder-popup:nth-of-type(odd) {
    margin-left: 0;
  }
  .pop-up-form-holder {
    width: 100%;
    padding: 25px 0 0;
  }
  .half-input-holder-popup,
  .full-input-holder-popup {
    width: 100%;
    margin-bottom: 25px;
  }
  .submit-holder-popup {
    float: none;
    margin: auto auto 30px;
  }
  .sub-header-cta-middle-holder {
    width: 100%;
  }
  .sub-header-cta-middle-holder .slick-next {
    display: none !important;
  }
  .sub-header-cta-middle-holder .slick-prev {
    display: none !important;
  }
  .cta-middle-text-holder {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: normal;
    letter-spacing: 0.2px;
    height: 30px;
  }
  .footer-sign-up-title-holder {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.8px;
    margin-bottom: 60px;
  }
  .footer-sign-up-legal-holder p,
  .footer-sign-up-legal-holder label {
    width: 80%;
  }
  .footer-bottom-flex-container {
    width: 100%;
  }
  .footer-left-holder {
    width: 90%;
    margin: auto;
  }
  .footer-line-divider {
    width: 90%;
    margin: auto;
  }
  .footer-social-links-holder ul {
    margin-top: 60px;
    text-align: left;
  }
  .footer-social-links-holder ul li:nth-child(1) {
    margin: 0;
    margin-right: 15px;
  }
  .footer-logo-list-container {
    margin: 60px 0;
  }
  .footer-logo-list-container ul li {
    margin: 0 10px 10px 0;
  }
  .footer-logo-list-container ul li img {
    height: 30px;
  }
  .footer-right-holder {
    width: 90%;
    margin: auto;
  }
  .footer-bottom-links-holder {
    margin-bottom: 60px;
  }
  .footer-logo-holder {
    width: 90px;
  }
  /* Hide and show classes */
  .hide-on-responsive {
    display: none !important;
  }
  .show-on-responsive {
    display: block !important;
  }
  .fifty-spacer {
    padding-top: 30px;
  }
  .sixty-spacer,
  .eighty-spacer {
    padding-top: 40px;
  }
  .one-hundred-spacer {
    padding-top: 60px;
  }
  .fifty-padding-both {
    padding: 0 20px;
  }
  .mobile-burger-outer-container {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 11px;
    right: 0;
    z-index: 99;
    opacity: 1;
    cursor: pointer;
  }
  .burger-holder {
    display: block;
    margin: 9px 0;
    padding: 0;
  }
  .burger-holder .line {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    background-color: #21292e;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .burger-holder.is-sticky .line {
    background-color: #272726;
  }
  .burger-holder .line:nth-child(2) {
    display: none;
  }
  .burger-holder.is-active {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .burger-holder.is-active .line:nth-child(2) {
    width: 0px;
  }
  .burger-holder.is-active .line:nth-child(1),
  .burger-holder.is-active .line:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  .burger-holder.is-active .line:nth-child(1) {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  .burger-holder.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-2px) rotate(90deg);
    transform: translateY(-2px) rotate(90deg);
  }
  .content-block,
  .one-flex-margin-container,
  .flex-content-block {
    width: 90%;
    padding: 0;
    margin: auto;
  }
  .one-block-container,
  .half-block-container,
  .third-block-container,
  .fourth-block-container,
  .full-width-container,
  .full-half-container,
  .full-third-container,
  .full-fourth-container,
  .half-flex-container,
  .third-flex-container,
  .full-half-flex-container {
    width: 100%;
    float: none;
    padding: 0;
    margin: 0;
  }
  .half-block-image-holder {
    width: 100%;
  }
  .centered-content-title-holder {
    margin: 0 0 30px;
  }
  .centered-content-title-holder h2 {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.6px;
  }
  .no-desk {
    display: block;
  }
  .error-page-text-holder {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */