$d: 2.5em;
$t: 1.2s;

.spinner3 {
  text-align: center;
  color: #fffdf6;
  background: currentColor;
  &__dot {
    background: currentColor;
    &,
    &:after {
      display: inline-block;
      width: $d;
      height: $d;
      border-radius: 50%;
      background: #ff990a;
      animation: s3a $t calc(((var(--i) + var(--o, 0)) / var(--n)-1) *#{$t})
        infinite;
    }

    &::after {
      --o: 0.1;
      background: currentColor;
      content: "";
    }
  }

  @keyframes s3a {
    0%,
    50% {
      transform: scale(0);
    }
  }
}
