$d: 2.5em;
$t: 2s;

.spinner3 {
  text-align: center;
  color: #fffdf6;
  background: currentColor;
  &__dot {
    background: currentColor;
    &,
    &:after {
      display: block;
      width: $d;
      height: $d;
      background: #c1255d;
      animation: s3a $t calc(((var(--i) + var(--o, 0)) / var(--n)) *#{$t})
        infinite;
    }

    &::after {
      --o: 0.2;
      background: currentColor;
      content: "";
      z-index: 1;
    }
  }

  @keyframes s3a {
    0%,
    50% {
      transform: scale(0);
    }
  }
}
