$c: #1f1d1e, #ff990a, #ff990a90, #ff990a80, #ff990a70, #ff990a60, #ff990a50,
  #ff990a40, #ff990a30, #ff990a20, #ff990a10;
$d: 9em;
@mixin bars($c, $w: 0.5em, $t: 2s) {
  $n: length($c);
  $o: 0.5 * $w;
  $l: ();
  $a: ();

  @for $i from 0 to $n {
    $l: $l,
      linear-gradient(
        var(--a#{$i}),
        transparent calc(50% - #{$o} - 1px),
        nth($c, $i + 1) calc(50% - #{$o}) calc(50% + #{$o}),
        transparent calc(50% + #{$o} + 1px)
      );
    $a: $a, a#{$i} $t cubic-bezier($i/$n, 0, ($n - $i) / $n, 1) infinite;

    @keyframes a#{$i} {
      to {
        --a#{$i}: 1turn;
      }
    }
  }

  background: $l;
  animation: $a;
}
.spinner1 {
  width: $d;
  height: $d;
  border-radius: 50%;
  @include bars($c);
}
