@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
$vanilla: #fffdf6;
$black: #1f1d1e;
$cherry: #c1255d;
$orange: #ff990a;
body {
  margin: 0;
  font-family: "Crimson Text", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $vanilla;
  color: $black;
  p {
    font-family: "Montserrat", sans-serif;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
