@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap");
@import "./colors.scss";
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $vanilla;
  color: $black;
  h1,
  h2,
  h3 {
    font-family: "Libre Baskerville", serif;
  }
  p,
  span {
    font-family: "Source Sans Pro", sans-serif;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
